body {
	margin:0;
	padding:0;
	font-size: 1.4em;
	line-height: 1.6em;
}
body  > section {
	clear: both;
	padding: 50px 0;
}


h1, h2 {
	font-family: 'Roboto Condensed', sans-serif;
}

h2 {
	color:#0c243d;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.4em;
}
h2.parallax {
	font-size: 3.6em;
	font-weight: 700;
	text-transform: none;
	color:#ffffff;
	text-shadow: 0px 7px 8px black;
	-webkit-text-shadow: 0px 7px 8px black;
	-moz-text-shadow: 0px 7px 8px black;
}

p {
	color:#000;
	font-weight: 10;
	font-size: 1.4em;
}
p.subtitle {
	color:#fff;
	font-weight: 10;
	font-size: 1.4em;
}

.separador {
	width:40px;
	height:4px;
	display: block;
	margin: 0 auto;
	background-color: #0c243d;
	margin-bottom: 30px;
}

.grisBG {
	background-color: #f5f5f5;
}
.azulBG {
	background-color: #123156;
}
/** ANIMACIONES **/
.anima1, .anima2, .anima3, img#appImagen, img#appCentral {
	opacity: 0;
}

.anima2 {
	animation-delay: .3s;
	-webkit-animation-delay: .3s;
}
.anima3 {
	animation-delay: .6s;
	-webkit-animation-delay: .6s;
}

/** MENU **/

.navbar-default {
	box-shadow: none;
	background-color:transparent;
	border:none;
	background-image: none;
	min-height: 90px;
	padding-top: 20px;
}
.nav>li>a {
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	color:#ffffff;
	font-size: 1.5em;
	text-shadow: 1px 1px 1px black;
	-webkit-text-shadow: 1px 1px 1px black;
	-moz-text-shadow: 1px 1px 1px black;
}
.nav>li>a:hover,
.nav>li>a:focus {
	background-color: transparent;
}
.normal {
	transition: 1s all ease;
}
.efecto {
	background-color: rgb(171, 55, 24);
	min-height: 30px;
	box-shadow: 0 0 10px black;
	padding-top: 0;
	transition: 1s all ease;
}

/** #PRINCIPAL **/

section#principal {	
	padding: 0;	
	background: black;/* rgb(30,61,90); Old browsers  171, 55, 24 */
	
}
section#principal img {
	margin: 0 auto;
}

.carousel.slide{
padding-top: 80px;

}

/** #APP **/
section#nosotros {	
	color:black;
	
}

section#nosotros .nosotro {
	margin-bottom: 20px;
	clear:both;
}

/** #APP **/

section#app .social {
	width:150px;
	height:150px;
	border-radius: 50%;
	background-color: orange;
	margin: 0 auto;
	line-height: 180px;
}
section#app .social i {
	color:#ffffff;
	font-size: 3em;
}


/** #CARACTERISTICAS **/

section#caracteristicas p {
	font-size:.9em;
	color:#858585;
}
section#caracteristicas img#appCentral {
	margin: 0 auto;
}
section#caracteristicas .caracteristica {
	margin-bottom: 20px;
	clear:both;
}
section#caracteristicas .icono {
	width:120px;
	height:120px;
	border-radius: 50%;
	background-color:#123156;
	margin: 0 auto;
	line-height: 140px;
	text-align: center;
	color:#ffffff;
}

section#caracteristicas .icono i {
	font-size: 2.6em;
	color:#ffffff;
}

/** PANTALLAS **/

div.modal-body {
	text-align: center;
}
div.modal-body img {
	max-height: 90%;
}


/** PARALLAX **/

section#parallax {
	height:500px;
	background-image: url(../img/ipadApp.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

/** DESCARGAR **/

section#descargar div.contenidoDescarga {
	height:700px;
}

section#descargar div.phone {
	width:50%;
	float: left;
	height:100%;
	box-shadow: inset -7px -7px 12px -2px rgba(0,0,0,.15);
	-webkit-box-shadow: inset -7px -7px 12px -2px rgba(0,0,0,.15);
	-moz-box-shadow: inset -7px -7px 12px -2px rgba(0,0,0,.15);
	z-index: 1;
	text-align: center;

}

section#descargar div.derechaVacio {
	width:50%;
	background-color: #f5f5f5;
	float: right;
	height:100%;
	z-index: 2;
	background-image: url(../img/descargaAppBG.png);
	background-repeat: no-repeat;
	background-position: bottom right;
}
section#descargar .descarga {
	position: absolute;
	left:0;
	right:0;
	margin-left: auto;
	margin-right: auto;
	top: 50px;
}

section#descargar .plataformas > div {
	border-radius: 20px;
	border: 3px solid #0c243d;
	padding: 11px 0;
	font-size: 1.2em;
	position:relative;
	padding-left: 50px;
	color:#0c243d;
}

section#descargar .plataformas > div i {
	font-size: 2.5em;
	position:absolute;
	left: 20px;
	top:10px;
}

section#descargar .plataformas > div span {
	font-weight: bold;
}




/** SOPORTE **/

section#soporte h1 {
	color:#ffffff;
}
section#soporte .separador {
	background-color: #ffffff;
}
section#soporte p {
	font-size: 1.6em;
	color:white;
	margin-bottom: 20px;
}
section#soporte .campos {
	background-color: #123156;
	border: 2px solid #ffffff;
	border-radius: 10px;
	color:#ffffff;
}
section#soporte form {
	margin-top: 30px;
}
section#soporte input {
	min-height: 50px;
	margin-bottom: 20px;
}
section#soporte textarea {
	min-height: 200px;
}
section#soporte .btn.btn-default {
	background:white;
	border-radius: 14px;
	padding: 5px 43px;
	font-size: 1.4em;
	text-transform: uppercase;
}

#correcto {
	display:none;
	background-color: white;
	padding: 20px;
	text-align: center;
	font-size: 1.6em;
	border-radius: 10px;
	border: 4px solid green;
}
.has-success .form-control-feedback  {
	color:white;
	background-color: green;
	border-radius: 50%;
}
.has-error .form-control-feedback {
	color: white;
	background: red;
	border-radius: 20px;
}
.form-horizontal .has-feedback .form-control-feedback {
	top: 0;
	right: 15px;
	font-size: 1.5em;
	right: 22px;
	top: 8px!important;
}
.has-error .help-block {
	background: red;
	color: white;
	padding: 10px;
	border-radius: 5px;
}


::-webkit-input-placeholder {
	color:#ffffff!important;
}

:moz-placeholder {
	color:#ffffff!important;
}
::moz-placeholder {
	color:#ffffff!important;
}

:-ms-input-placeholder {
	color:#ffffff!important;
}

@media(max-width: 767px) {
	section#principal {
		height: auto;
		min-height: initial;
	}
	.navbar-default .navbar-collapse {
		background-color: black;
		/*background-color: #123156;*/
	}
	section#caracteristicas .caracteristicas {
		min-height: 150px;
		text-align: center;
	}

	section#descargar .plataformas > div {
		margin-bottom: 20px;
		padding: 21px 0 ;
	}
	section#descargar div.phone {
		height:auto;
	}
	section#descargar div.contenidoDescarga {
		height:auto;
	}
	section#parallax {
		background-attachment: scroll;
	}
}

@media(max-width: 500px) {
	section#descargar div.phone {
		width:100%;
	}
	section#caracteristicas > section.col-xs-6 {
		width:100%!important;
	}
	section#caracteristicas > .col-xs-6 {
		width:100%;
	}
	section#caracteristicas .caracteristica {
		min-height: initial;
		text-align: center;
	}
	section#caracteristicas .icono {
		display:none;
	}
	section#descargar div.derechaVacio {
		display:none;
	}
	section#descargar .descarga {
		position: relative;
	}
	div.descarga .col-xs-offset-6 {
		width:100%;
		margin:0;
	}
}